doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='Take Out Tonight is an app designed for taking dinner orders', content='')
    meta(name='Matt Lineback', content='')
    link(rel='icon', href='/public/favicon.ico')
    title Take Out Tonight
    link(href='/css/bootstrap.min.css', rel='stylesheet')

  body
    #title.container-fluid
      .jumbotron
        h1 TakeOutTonight
        p Welcome to TakeOutTonight... A simplistic web app for ordering take out dinner.
        .page-header
          h2 How to Order
          p Select the PayPal 'add to cart' button below each dinner item to order.
          p When you're finished adding items to your cart, submit your payment using your PayPal account or a guest account.
          p Then send an email message saying what days you would like your meals delivered.

    #dinner.container-fluid
      img.popuptext#myPopup(src = './stylesheets/images/tofu-1713238_640.jpg' width = '300px' opacity = '1')
      .row
        .col-md-4
          .block
            div.popup(onclick = 'myFunction()')
              h2 Sweet and Sour Tofu
              p
                | Crispy fried tofu tossed in sweet and sour sauce. Served with wok seared broccoli and peppers, and steamed Jasmine Rice
              p
            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBzp+CirovUppLXhlMvWmZvMM6iJRtW6vcSryX+kRu5y5ojhGyiWW7TQFMVvWmkdbLt0KGsfuuVCHqKZJVN+ONByBj7pzHiZgXf/Q5zcF9/P0ZW3LBHHIRw1R67Q9Ig5wSkfOaIC4b/us9LFRZCpY45YqIerlxtLV2GYPGDPN4x/DELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIBUPNbPC/OW+AgbBl7aSW/VF9iLJFHjGuIaNZpK8seMkbAGlGmILhTBq+wGUSbHeqGqcui1xxXBuYEnwxrSAQaoTndxNoK6Mz5GP4OX5JhOxmML0Mw2xREx2j2qSCbcSGsJzFxPmD7sb902Gc9TGoKW/fDXqATxSd45T4wZ/mBoO/BBXJCNOOHVtCJjzkDeGBWCdFqIRgC23c9mI/TB8I/i6tGroS/v7jclKxywoSMC0LvYxzKe72M3CPyqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE3MDEwNDAwMDU1OVowIwYJKoZIhvcNAQkEMRYEFKA22KiQg0Wcray/Wn21S2OlZQfeMA0GCSqGSIb3DQEBAQUABIGAMAvGpuioZMdbjJBq7lkSH8FmHGaudB8MQHVudGlX+PVCsISsjqPapJtO2QrBoyr4U2yoFaOZmQJokSOn5DUcZA/GaNkLy4p/1vbR9OvrlRX6El0fKlW95M6jDY9BI547uVpM/760pauzVFmfvsfic1ry7/ddKCAeBdoX8pUUBb4=-----END PKCS7-----\
                        ')
              input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
              img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

        .col-md-4
          .block
            div.popup(onclick = 'myFunction()')
              img.popuptext#pasta(src = "./stylesheets/images/cuisine-1854246_640.jpg" width = '500px')
              h2 Dinner Option 2
              p
                | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p
            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBzp+CirovUppLXhlMvWmZvMM6iJRtW6vcSryX+kRu5y5ojhGyiWW7TQFMVvWmkdbLt0KGsfuuVCHqKZJVN+ONByBj7pzHiZgXf/Q5zcF9/P0ZW3LBHHIRw1R67Q9Ig5wSkfOaIC4b/us9LFRZCpY45YqIerlxtLV2GYPGDPN4x/DELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIBUPNbPC/OW+AgbBl7aSW/VF9iLJFHjGuIaNZpK8seMkbAGlGmILhTBq+wGUSbHeqGqcui1xxXBuYEnwxrSAQaoTndxNoK6Mz5GP4OX5JhOxmML0Mw2xREx2j2qSCbcSGsJzFxPmD7sb902Gc9TGoKW/fDXqATxSd45T4wZ/mBoO/BBXJCNOOHVtCJjzkDeGBWCdFqIRgC23c9mI/TB8I/i6tGroS/v7jclKxywoSMC0LvYxzKe72M3CPyqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE3MDEwNDAwMDU1OVowIwYJKoZIhvcNAQkEMRYEFKA22KiQg0Wcray/Wn21S2OlZQfeMA0GCSqGSIb3DQEBAQUABIGAMAvGpuioZMdbjJBq7lkSH8FmHGaudB8MQHVudGlX+PVCsISsjqPapJtO2QrBoyr4U2yoFaOZmQJokSOn5DUcZA/GaNkLy4p/1vbR9OvrlRX6El0fKlW95M6jDY9BI547uVpM/760pauzVFmfvsfic1ry7/ddKCAeBdoX8pUUBb4=-----END PKCS7-----\
              ')
              input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
              img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

        .col-md-4
          .block
            div.popup(onclick = 'myFunction()')
              img.popuptext#steak(src = './stylesheets/images/tofu-1713238_640.jpg' width = '500px')
              h2 Dinner Option 3
              p
                | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              p
            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCrFbAC3D+EP1nWZ6NXtEoyK1fDhbAEPErUeqhGKregP/B92oskqJZyu1C6aCqG23cey6ycp7Gg3wMDXHUBddLd6zvPd0i9T3clR0d2AhNJHWSsNZ4RKNLj6b69UPtPwxb0foGZyyHQ8571saiaoIQqZkjKSpc/ON2sFz7d52gcwjELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIgIbCbHVao8OAgbDCT+b0Wb12Zt9A2xlOq17gi+sr8jNY+B39u/66ndcrUUuofW72HZBCD0LjYMMDfxj8s7xEAc2at7CF8dU2C9Tvw4mF1fwj5Q69SYMjsLsTMb8bAXSTGxuhBM41su/GrJUyRNBkgQRxABZs4a9y6Mqieim3NKfTuwSp426hh3THEmEou/2InsPFIeQcm40b3NqCDHbeIqw7NDLKC1UkcQQy7PNJM2VM5yS4wHL2Qmmr+qCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE3MDEwNDAwMDYzOVowIwYJKoZIhvcNAQkEMRYEFKsYXcUFoYuxFcmF34RrJnddGoX6MA0GCSqGSIb3DQEBAQUABIGAeNG2XP9mvr3fbKMUy5TerQmRnSmxnDMp/gje7PLYKKzFHpdSNOp3T8ytGZ2gE5NVeIBjG5CugTB/s4bMoFCVi2BQB3yy0xwGHf/Ws8A1VGOhfHGAtXJPtBRP5udyEm0wsfRvNJ/BUGwSqbd+cRaFj2upNxOviOKpWq3w+BzVgVM=-----END PKCS7-----\
              ')
              input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
              img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')

        .col-md-4
          .block
            div.popup(onclick = 'myFunction()')
              img.popuptext#burger(src = './stylesheets/images/tofu-1713238_640.jpg' width = '500px')
              h2 Dinner Option 3
              p
                | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              p
            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='encrypted', value='-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCrFbAC3D+EP1nWZ6NXtEoyK1fDhbAEPErUeqhGKregP/B92oskqJZyu1C6aCqG23cey6ycp7Gg3wMDXHUBddLd6zvPd0i9T3clR0d2AhNJHWSsNZ4RKNLj6b69UPtPwxb0foGZyyHQ8571saiaoIQqZkjKSpc/ON2sFz7d52gcwjELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIgIbCbHVao8OAgbDCT+b0Wb12Zt9A2xlOq17gi+sr8jNY+B39u/66ndcrUUuofW72HZBCD0LjYMMDfxj8s7xEAc2at7CF8dU2C9Tvw4mF1fwj5Q69SYMjsLsTMb8bAXSTGxuhBM41su/GrJUyRNBkgQRxABZs4a9y6Mqieim3NKfTuwSp426hh3THEmEou/2InsPFIeQcm40b3NqCDHbeIqw7NDLKC1UkcQQy7PNJM2VM5yS4wHL2Qmmr+qCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE3MDEwNDAwMDYzOVowIwYJKoZIhvcNAQkEMRYEFKsYXcUFoYuxFcmF34RrJnddGoX6MA0GCSqGSIb3DQEBAQUABIGAeNG2XP9mvr3fbKMUy5TerQmRnSmxnDMp/gje7PLYKKzFHpdSNOp3T8ytGZ2gE5NVeIBjG5CugTB/s4bMoFCVi2BQB3yy0xwGHf/Ws8A1VGOhfHGAtXJPtBRP5udyEm0wsfRvNJ/BUGwSqbd+cRaFj2upNxOviOKpWq3w+BzVgVM=-----END PKCS7-----\
              ')
              input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
              img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.g', width='1', height='1')
    #form.container-fluid
      .row
        .center
          .col-md-6.col-sm-6.col-xs-12
            form(method='post', action = "", id = "newForm")
              .form-group
                label.control-label(for='name')
                  | Name
                input#name.form-control(name='name', type='text')
              .form-group
                label.control-label.requiredField(for='email')
                  | Email
                  span.asteriskField
                    | *
                input#email.form-control(name='email', type='text')
              .form-group
                label.control-label(for='select')
                  | Select a Choice
                select#select.select.form-control(name='select')
                  option(value='First Choice')
                    | First Choice
                  option(value='Second Choice')
                    | Second Choice
                  option(value='Third Choice')
                    | Third Choice
              .form-group
                label.control-label
                  | Select a Choice
                div#radio
                  .radio
                    label.radio
                      input(name='radio', type='radio', value='First Choice')
                      |          First Choice
                  .radio
                    label.radio
                      input(name='radio', type='radio', value='Second Choice')
                      |          Second Choice
                  .radio
                    label.radio
                      input(name='radio', type='radio', value='Third Choice')
                      |          Third Choice
              .form-group
                label.control-label(for='message')
                  | Message
                textarea#message.form-control(cols='40', name='message', rows='10')
              .form-group
                div
                  button.btn.btn-primary(id = 'submitForm', name='submitForm', type='submit')
                    | Submit

    #mail.container-fluid
      .row
        .col-md-12
          a.btn.btn-info(href= 'mailto:aliamtodd@gmail.com', role= 'button') Send Message
            span.glyphicon.glyphicon-envelope(aria-hidden='true')
      hr
      footer
       p Website created by Matt Lineback
    script(src='javascripts/popup.js')
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    link(href='/stylesheets/style.css', rel='stylesheet')



