body {
 	font-family: Calibri;
 	color: whitesmoke;
 	background-color: dimgray;
	}

#title.container-fluid{
	background-image: url(images/kitchen-731351_960_720.jpg);
    height: 640px;
    width: 960px;
	}
.jumbotron{
  	background: dimgray;
  	opacity: 0.85;
  	font-family: Calibri;
  	color: whitesmoke;
    padding: 8%;
    margin: 4%;

	}
#dinner.container-fluid{
	background-image: url(images/cooking-1013455.png);
    padding-top: 3%;
    padding-bottom: 2%;
    opacity: 0.90;
    height: 640px;
    width: 960px;
	}

.col-md-4 {
    background: dimgray;
    opacity: 0.85;
    font-family: Calibri;
    color: whitesmoke;
    margin-right: 8%;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#mail.container-fluid{
    width: 960px;
    padding-top: 5%;
    padding-left: 3%;
    padding-right:3%;
    background-color: #444444;
	}
