body {
 	font-family: Calibri, serif;
 	color: whitesmoke;
    background: dimgray radial-gradient(black, whitesmoke) repeat-x;
}

#title.container-fluid{
	background-image: url(images/kitchen-731351_960_720.jpg);
    height: 640px;
    width: 960px;
	}

.jumbotron{
    background: dimgray;
    opacity: 0.85;
    font-family: Calibri, serif;
    color: whitesmoke;
    margin-top:3%;
}

#dinner.container-fluid{
    background-image: url(images/cooking-1013455.png);
    width: 960px;
    height:640px;
	}

.col-md-4{
    background: dimgray;
    opacity: 0.85;
    font-family: Calibri, serif;
    color: whitesmoke;
    margin-left:3.5%;
    margin-right:2.5%;
    margin-top:4%;

}

#form.container-fluid{
    background:black;
    background: linear-gradient(black, #444444 );
    width: 960px;
    padding-top: 3%;
}

.center{
    margin: 0 auto;
    width:50%;
}

#mail.container-fluid{
    width: 960px;
    padding-top: 5%;
    padding-left: 3%;
    padding-right:3%;
    background-color: #444444;
}

