body {
 	font-family: Calibri, serif;
 	color: whitesmoke;
    background: dimgray;
}

#title.container-fluid{
	background: url(images/kitchen-731351_960_720.jpg) no-repeat center fixed;
    background-size:cover;
	}

.jumbotron{
    background: dimgray;
    opacity: 0.85;
    font-family: Calibri, serif;
    text-align: center;
    color: whitesmoke;
    margin: 50px 25px 50px 25px;
}

#dinner.container-fluid{
    background: url(images/cooking-1013455.jpg) no-repeat center fixed;
    background-size:cover;
}
#row-1 {
    margin-top: 5%;
}
.row-centered{
    text-align: center;
}

.col-centered{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right: -4px;
}
.col-md-4{
    background: dimgray;
    opacity: 0.85;
    font-family: Calibri, serif;
    text-align: center;
    color: whitesmoke;
    border-radius:5px;
    margin: 15px 15px 5px 5px;
    padding: 5px 15px 5px 15px;

}

#form.container-fluid{
    background: dimgray;
    opacity: 0.85;
    font-family: Calibri, serif;
    color: whitesmoke;
    border-radius:5px;
    margin:50px 25px 50px 25px;
    padding: 0px 10px 25px 10px;
}

.select {
    -webkit-appearance: menulist;
}
.center{
    margin: 0 auto;
    width:50%;
}

#mail.container-fluid{
    padding-top: 5%;
    padding-left: 3%;
    padding-right:3%;
}

@media screen and (max-width: 768px) {
    #title.container-fluid {
        background-size:cover;
    }
    #dinner.container-fluid{
        background-size:cover;
    }
}

@media screen and (max-width: 480px) {
    #title.container-fluid {
        background-size:480px;
    }
    #dinner.container-fluid{
        background-size:480px;
    }
}

